html{
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: rgb(240, 240, 240);
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100% 140px;
    grid-template-areas:" header" 
                        " main"
                        " footer";
}

header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);

    position:fixed;
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(255, 255, 255, 0.735);
    backdrop-filter: blur(60.4px);
    -webkit-backdrop-filter: blur(11.4px);
}

h1{
    margin: 0px 50px;
    color: rgb(0, 0, 0);
}

h3{
    color: #000000;
}

.banner{
    height: 200px;
    width: 100%;
    color: white;
}


.icon-laterales{
    display: flex;
    gap: 20px;
    color: #000000;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.categoria{
    display: block;
    margin-bottom: 10%;
    color: rgb(0, 0, 0);

}

.cont-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7be86a;
    padding: 1px 7px;
    border-radius: 100px;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: black;
}

.listado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 950px;
    flex-wrap: wrap;
    margin-top: 40px;
}


.listado-Carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: max-content;
    width: 250px;
    margin-bottom: 30px;
}

.divAlign{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.card-img{
    height: 270px;
    width: 250px;
}

.muestra-En-PC{
    display: none;
    color: #000000;
}
.muestra-En-mobile{
    display: flex;
    color: #000000;
}

.btn-grupo{
    display: flex;
    flex-direction: row;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #153243;
    border-style: none;
    border-radius: 100px;
    margin: 20px 5px;
    width: 50px;
    height: 50px;
}


.btn:hover{
    color: white;
}

.btn-IMG{
    width: 30px;
    height: 30px;
}

.btn-txt{
    color: rgb(0, 0, 0);
}

.btn2{
    background-color: #153243;
    border-style: none;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: xx-large;
    margin-bottom: 10px;
}

ul{
    display: none;
}

.Grupolistado-carrito{ 
    margin: 3%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100%;
    border-radius: 30px;
}

h3{
    margin: 5% 0% 0% 0%;
}
p{
    margin: 5% 0% 0% 0%;
}

.listado-carrito{
    display: flex;
    flex-direction: column;
}

.cantidad{
    font-size: xx-large;
    margin: 0px 10px;
}

@media(min-width: 700px){
    
    header{
        grid-area: header;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }

    .categoria{
        margin: 0px 10px;
    }

    .cont-carrito{
        background-color: #7be86a;
        padding: 1px 7px;
        border-radius: 100px;
        position: absolute;
        right: 6,5%;
        top: -6%;
    }

    main{
        grid-area: main;
    }

    
    footer{
        grid-area: footer;
        background-color: black;
    }
    
    .listado{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2%;
    }

    .listado-Carrito{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article{
        background-color: rgb(255, 255, 255);
        padding: 1%;
    }
    
    
    article:hover{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.323);
        transition: 0.2s;
        transform: scale(102%);
        transform:rotate(20px);
    }
    
    .banner{
        height: 400px;
        width: 100%;
        color: white;
    }

    ul{
        display:contents;
    }

    li{
        text-align: center;
        list-style: none;
        margin: 20px;
    }
    
    .alineado-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .selector-colores1{
        margin: 5px;
        background-color: red;
        border-radius: 100px;
        height: 35px;
        width: 35px;
    }    
    
    .card-img{
        height: 270px;
        width: 250px;
    }
    
    .btn-grupo{
        display: flex;
        flex-direction: row;
    }

    .btn:hover{
        background-color: #153243;
        color: white;
    }

    .btn-IMG{
        width: 30px;
        height: 30px;
    }

    .muestra-En-PC{
        display:flex;
        margin: 0px;
        color: #000000;
    }
    .muestra-En-mobile{
        display: none;
        color: #000000;
    }
    
}