body{
    background-color: rgb(240, 240, 240);
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 100% 140px;
    grid-template-areas:" header" 
                        " main"
                        " footer";
}

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0% 7% 0% 7%;
    background-color:#153243;
}

h1{
    margin: 20px;
    margin-top: 50px;
    color: white;
}

.barraTemp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100px;
    margin-bottom: 20px;
    height: 22px;
    width: 300px;
    color: #153243;
    padding: 10px;
}

.icon-laterales{
    position: absolute;
    top: 1px;
    right: 10px;
    display: flex;
    margin-top: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.categoria{
    display: block;
    margin-bottom: 10%;
    color: white;

}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: black;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: max-content;
    width: 250px;
}

img{
    height: 60%;
    width: 70%;
}

.muestra-En-PC{
    display: none;
}
.muestra-En-mobile{
    display: flex;
}

.btn-grupo{
    display: flex;
    flex-direction: row;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #153243;
    color: white;
    border-style: none;
    border-radius: 100px;
    padding: 10px 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

ul{
    display: none;
}

.Grupolistado-carrito{ 
    margin: 3%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 100%;
    border-radius: 30px;
}

h3{
    margin: 5% 0% 0% 0%;
}
p{
    margin: 5% 0% 0% 0%;
}

@media(min-width: 700px){

    body{
        grid-template-columns: 20% 80%;
        grid-template-rows: auto 90% 140px;
        grid-template-areas:" header header" 
                            " aside   main"
                            " footer footer";
    }
    
    header{
        grid-area: header;
        text-align: center;
        flex-direction: column;
    }

    .icon-laterales{
        position: absolute;
        top: 50px;
        right: 50px;
        display: flex;
        margin-top: 20px;
    }

    .categoria{
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .barraTemp{
        height: 20px;
        width: 500px;
    }


    main{
        grid-area: main;
    }
    
    aside{
        margin: 10%;
        background-color: rgb(255, 255, 255);
        grid-area: aside;
    }
    
    footer{
        grid-area: footer;
        background-color: black;
    }
    
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        flex-wrap:wrap;
    }

    article{
        background-color: rgb(255, 255, 255);
        padding: 1%;
        margin: 1%;
    }
    
    article:hover{
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.323);
        transition: 0.2s;
        transform: scale(102%);
        transform:rotate(20px);
    }
    
    ul{
        display:contents;
    }

    li{
        text-align: center;
        list-style: none;
        margin: 20px;
    }
    
    .alineado-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .selector-colores1{
        margin: 5px;
        background-color: red;
        border-radius: 100px;
        height: 35px;
        width: 35px;
    }
    .selector-colores2{
        margin: 5px;
        border-color: black;
        background-color: rgb(0, 51, 255);
        border-radius: 100px;
        height: 35px;
        width: 35px;
    }
    .selector-colores3{
        margin: 5px;
        border-color: black;
        background-color: rgb(255, 230, 0);
        border-radius: 100px;
        height: 35px;
        width: 35px;
    }
    
    
    img{
        height: 60%;
        width: 70%;
    }
    
    .btn-grupo{
        display: flex;
        flex-direction: row;
    }
    
    .btn{
        background-color: #153243;
        color: white;
        border-style: none;
        border-radius: 100px;
        padding: 15px 30px 15px 30px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    
    button:hover{
        background-color: black;
    }

    .muestra-En-PC{
        display:flex;
        margin: 0px;
    }
    .muestra-En-mobile{
        display: none;
    }
    
}